html {
    height: 100%;
}

body {
    min-height: 100%;
}

#root {
    min-height: 100vh;
    background-color: white;
    /* display: flex;
    flex-direction: row; */
}
.cover{
display: block;
margin-left: auto;
margin-right: auto;
width: 33%;
margin-top: 1%;
};

