html {
    height: 100%;
}

body {
    min-height: 100%;
}

#root {
    min-height: 100vh;
    background-color: white;
    flex-direction: row;

}
.cover{
display: block;
margin-left: auto;
margin-right: auto;
width: 53%;
margin-top: 1%;
};

/* Commit */
